:root {
  --main-bg-color: rgb(35, 95, 173);
  --shadow: rgb(35, 82, 114);
  --default-spacing: 0 0.25rem 0 0.25rem;
  --footer-height: 10vh;
}

/* elements */
html, body {
  margin: 0;
  min-height: 100vh;
}

button {
  display: inline-block;
  border-radius: 10rem;
  background-color: teal;
  cursor: pointer;
  padding: 1em;
  border: none;
  font-weight: bold;
  color: white;
}

button:active {
  transform: scale(0.98);  
}
button:focus {
  outline: none;
}

footer {
  display: block;
  bottom: 0;
  background-color: var(--main-bg-color);
  margin-top: 0.5em;
  width: 100%;
  min-height: var(--footer-height);
  box-shadow: 0 -.5em var(--shadow);
}

li.link {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li.link:hover {
  background-color: rgba(10, 32, 32, 0.705);
}

nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: var(--main-bg-color);
  margin-top: 0;
  margin-bottom: 0.5em;
  padding: 0;
  box-shadow: 0 .5em var(--shadow);
}

ul.navbar {
  overflow: hidden;
  padding: 0;
  list-style-type: none;
}

ul.navbar li {
  float: left;
}

/* classes */
.banner-container {
  cursor: pointer;
}

.banner {
  display: flex;
  align-items: center;
  margin-right: 0.1rem;
}
.banner > * {
  margin-right: 0.75rem;
}
.box {
  height: 1rem;
  width: 1rem;
}

.chat-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.chat-list > li {
  margin: 0;
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.chat-list > li > p {
  margin: 0;
  margin-block-start: 0.1rem;
  margin-block-end: 0.1rem;
}

.chat-list > li.self-message {
  align-self: flex-end;
}

.chat-list > li > .message {
  color: white;
  border-radius: 2rem;
  padding: 0.25rem;
}

.chat-list > li.self-message > .message {
  background-color: rgb(0, 132, 255);
}

.chat-list > li.team-message > .message {
  background-color: rgb(64, 187, 27);
}

.chat-area {
  overflow: auto;
  width: 100%;
  padding: 0.1rem;
  margin: 0.1rem auto 0.4rem auto;
  border: none;
  background: #ffffff;
  resize: none;
  height: 8rem;
}

.chat-input {
  display: flex;
  margin-top: 0.1rem;
}

.chat-input > * {
  margin-right: 0.25rem;
}

.chat-input > .submit {
  background-color: forestgreen;
  color: white;
  border-radius: 0.1rem;
  border-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
}

.delete-button {
  background-color: red;
  margin-left: auto;
  margin-right: 0;
  border-radius: 50%;
  color: white;
  font-size: 0.75em;
  padding: 0;
  height: 1rem;
  width: 1rem;
}

.game-container {
  width: max-content;
  background-color: aliceblue;
  border-width: 1px;
  border-radius: 3rem;
  border-style: solid;
  padding: 2rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.game-container * {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.game-container button {
  margin: var(--default-spacing);
}

.game-controls button {
  margin: var(--default-spacing);
}

.form-input {
  display: flex;
  margin: 1rem auto 1rem auto;
}

.form-input *{
  margin: var(--default-spacing);
}

.label {
  display: inline;
}

.movie-instruction {
  display: flex;
  width: 100%;
  justify-content: center;
}

.option-form {
  background-color: gainsboro;
  display: block;
  padding: 0.25rem;
  margin: 0.25rem;
  align-items: center;
}

.option-form > input {
  margin: var(--default-spacing);
}

.option-form > input[type='color'] {
  vertical-align: middle;
}

.option-form > input[type='submit'] {
  background-color: lightskyblue;
  color: white;
  border-radius: 0.25rem;
  border-style: none;
}

.players-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.players-list > li {
  margin: 0;
}

.team-container {
  background-color: rgb(255, 255, 244);
  width: max-content;
  height: fit-content;
  border-width: 1px;
  border-radius: 0.5rem;
  border-style: solid;
  padding: 0.25rem;
}

.team-container * {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.teams-footer {
  display: flex;
  bottom: var(--footer-height);
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 0.5em;
}

.teams-footer .team-container {
  margin: 0.5em;
}

.value {
  display: inline;
  font-weight: bold;
}